<h2>Por País</h2>
<hr />

<div class="col">
  <div class="row">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input
        class="form-control"
        [(ngModel)]="termino"
        type="text"
        name="termino"
        placeholder="Buscar país..."
      />
    </form>
  </div>
</div>

<hr />

<div *ngIf="isError" class="alert alert-danger">
  No se encontró con el término <b>{{ termino }}</b>
</div>

<div *ngIf="!isError" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Bandera</td>
          <td>Nombre</td>
          <td>1123432141</td>
          <td><a href="/pais/cri">Ver...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
