<div class="animate__animated animate__fadeIn">
  <h2>Por País</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar país..."
      ></app-pais-input>
    </div>
  </div>

  <ul class="list-group">
    <li
      *ngFor="let country of suggeredCountries"
      class="list-group-item list-group-item-action"
    >
      <a class="nav-link" [routerLink]="['/pais', country.cca2]">
        {{ country.name.common }}
      </a>
    </li>
    <li
      *ngIf="suggeredCountries.length > 0"
      class="list-group-item list-group-item-action"
      (click)="buscarSugerido(termino)"
    >
      Buscar <b>{{ termino }}</b>
    </li>
  </ul>

  <hr />

  <div *ngIf="isError" class="alert alert-danger">
    No se encontró con el término <b>{{ termino }}</b>
  </div>

  <div *ngIf="!isError && countries.length > 0" class="row">
    <div class="col">
      <app-pais-table [countries]="countries"></app-pais-table>
    </div>
  </div>
</div>
